<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style_user.css}"/>
    <title>Lifemap App - Dashboard</title>
</head>
<body>
    <header th:replace="fragments :: header"></header>
    <div class="container">
        <aside th:replace="fragments :: navigationBar"></aside>
        <main>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi dicta ea exercitationem facere inventore, libero mollitia quos soluta voluptas voluptatem!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, esse!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos, esse!</p>
        </main>
    </div>
</body>
</html>